.menu {

  &__list {
    margin-bottom: 30px;


    &-item {
      color: #575757;
      padding: 5px 10px;
      margin-bottom: 5px;
      transition: background-color 0.3s, color 0.2s;
      display: flex;
      justify-content: space-between;
      justify-items: center;

      & img {
        opacity: 0.3;
        transition: opacity 0.3s;
        width: 20px;
        height: 20px;
        padding-left: 10px;

        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }

      & p {
        flex: 1;
      }

      & p:hover {
        cursor: pointer;
      }


      &:first-child {
        margin-bottom: 20px;
      }
      &:hover {
        background-color: #36d1ff;
        border-radius: 5px;
      }
      &.selected {
        color: #ffffff;
        background-color: #3ba0ff;
        border-radius: 5px;
      }

    }
  }
}